@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 72 15% 67%;
    --foreground: 17 31% 18%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 39 78% 93%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 65 9% 50%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 31% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .dawn {
    --background: 39 78% 93%;
    --foreground: 17 31% 18%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 39 78% 93%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: 65 9% 50%;
    --accent-foreground: 358 72% 45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 31% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .brown {
    --background: 16 37% 18%;
    --foreground: 39 78% 93%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 39 78% 93%;
    --secondary-foreground: 72 15% 67%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 65 9% 50%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 31% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .contact {
    --background: 65 9% 50%;
    --foreground: 39 78% 93%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 39 78% 93%;
    --secondary-foreground: 16 37% 18%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 65 9% 50%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 31% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background text-foreground antialiased;
    font-family: 'Maison Neue Ext', sans-serif;
  }
}

@layer prose-m-none {
  * {
    @apply prose-headings:m-0;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.fade-in {
  -webkit-animation: fade-in 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: fade-in 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
