@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cream: 39 78% 93%;
    --sencha: 65 9% 50%;
    --genmaicha: 72 15% 67%;
    --red: 358 72% 45%;
    --walnut: 16 37% 18%;
    --black: 0 0% 0%;

    --main-nav-background: var(var(--background));
    --main-nav-foreground: var(--foreground);
    --main-nav-border: var(--border);

    --nav-background: var(var(--background));
    --nav-foreground: var(--foreground);
    --nav-border: var(--border);

    --active-radio: var(--cream);

    --background: var(--genmaicha);
    --foreground: var(--walnut);

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 39 78% 93%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 65 9% 50%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 31% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 8px;

    --nav-height: 60px;

    @media (min-width: 1024px) {
      --nav-height: 80px;
    }
  }

  .cream {
    --background: var(--cream);
    --foreground: var(--walnut);

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 39 78% 93%;
    --secondary-foreground: var(--cream);

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: var(--sencha);
    --accent-foreground: 358 72% 45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 31% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .cream-detail {
    --main-nav-background: var(var(--cream));
    --main-nav-foreground: var(--cream);
    --main-nav-border: var(--cream);

    --nav-background: var(var(--cream));
    --nav-foreground: var(--cream);
    --nav-border: var(--cream);

    --background: var(--cream);
    --foreground: var(--walnut);

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 39 78% 93%;
    --secondary-foreground: var(--cream);

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: var(--sencha);
    --accent-foreground: 358 72% 45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 31% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .walnut {
    --background: var(--walnut);
    --foreground: var(--cream);

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: var(--sencha);
    --secondary-foreground: var(--genmaicha);

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: 0 0% 14.9%;
    --accent-foreground: var(--sencha);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: var(--cream);
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .sencha {
    --background: var(--sencha);
    --foreground: 39 78% 93%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 17 31% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 39 78% 93%;
    --secondary-foreground: 16 37% 18%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 17 31% 18%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 65 9% 50%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 17 31% 18%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --active-radio: var(--walunut);
  }

  .mobile-navigation {
    --background: var(--walnut);
    --foreground: var(--cream);
    --accent-foreground: var(--sencha);
    --border: var(--sencha);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen scroll-smooth bg-background text-foreground antialiased;
    font-family: 'Maison Neue Ext', sans-serif;
  }

  main {
    @apply h-full w-full scroll-smooth bg-background text-foreground antialiased;
  }

	.skip-to-content {
		position: absolute;
		transform: translateY(-150%);
		transition: transform 150ms ease-in;
	}
	
	.skip-to-content:focus {
		transform: translateY(0);
	}

  .nav-fluid {
    @apply font-maisonNeueExt transition-all duration-300 ease-in-out ~text-xs/base before:transition-all before:duration-300 before:ease-in-out;
    @apply relative font-maisonNeueExt font-normal uppercase leading-[1.88] tracking-[0.4px] text-nav-foreground;
    @apply before:absolute before:bottom-[3px] before:left-0 before:h-[1px] before:w-0 before:bg-nav-foreground;
    @apply hover:before:w-full focus:before:w-full active:before:w-full;
  }

  .nav-fluid.active {
    @apply before:w-full;
  }

  h1,
  .title-xl-fluid {
    @apply space-y-8 font-maisonNeueExt font-normal uppercase ~text-3xl/5xl;
  }

  h2,
  .title-lg-fluid,
  .process-description h1,
  .process-description h2,
  .process-description h3,
  .process-description h4 {
    @apply space-y-8 font-maisonNeueExt font-normal leading-[42.5px] tracking-normal ~text-2xl/3xl lg:leading-[63px];
  }

  h3,
  .title-m-fluid {
    @apply space-y-8 font-maisonNeueExt font-normal leading-[42.5px] tracking-normal ~text-sm/2xl lg:leading-[63px];
  }

  .text-heading-base-fluid {
    @apply space-y-8 font-maisonNeue font-normal leading-[32px] tracking-normal lg:leading-[40px];
    font-size: clamp(
      20px,
      calc(20px + (32 - 20) * ((100vw - 375px) / (1920 - 375))),
      32px
    );
  }

  .heading-sm-fluid {
    @apply space-y-8 font-maisonNeue font-normal leading-[32px] tracking-normal lg:leading-[40px];
    font-size: 24px;
  }

  .link-fluid {
    @apply font-maisonNeueExt font-normal uppercase leading-[40px] tracking-[0.4px];
    font-size: clamp(
      12px,
      calc(12px + (16 - 12) * ((100vw - 375px) / (1920 - 375))),
      16px
    );
  }

  .label-fluid {
    @apply font-maisonNeueExt font-normal uppercase leading-[1.88] tracking-[0.4px] ~text-xs/base;
  }

  .body-xl-fluid {
    @apply space-y-8 font-maisonNeue font-normal tracking-normal ~text-body-xl/body-3xl;
  }

  .body-sm-fluid,
  .process-description {
    @apply font-maisonNeue font-normal leading-[30px] tracking-normal ~text-xs/2xl lg:leading-[34px];
  }

  .body-xs-fluid {
    @apply font-maisonNeue text-base font-normal leading-[30px] tracking-normal lg:leading-[34px];
  }

  .footer-link {
    @apply font-maisonNeueExt ~text-fs/fl;
  }

  .caption-sm-fluid {
    @apply font-maisonNeueExt ~text-xxs/sm;
  }

  .sharedaddy {
    display: none;
  }

  .top-fade {
    @apply relative;
    /* @apply bg-background; */
    @apply before:absolute before:left-0 before:top-[-50px] before:h-[50px] before:w-full before:bg-gradient-to-t before:from-background before:to-transparent;
    /* @apply absolute top-0 left-0 w-full h-1/4 bg-gradient-to-b from-background to-transparent pointer-events-none; */
  }

  .image-hover {
    @apply after:absolute after:z-30 after:h-full after:w-full after:bg-transparent after:transition-all after:duration-300 group-hover:after:bg-accent/40;
  }
}

@layer prose-m-none {
  * {
    @apply prose-headings:m-0;
  }
}

@layer components {
  .container {
    @apply max-w-full px-4 lg:px-12;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.fade-in {
  -webkit-animation: fade-in 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: fade-in 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
